body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.head-wrapper {
  background-color: #752154;
  position: sticky;
  top: 0;
  z-index: 10;
  
}

.head-wrapper li {
  float: left;
  list-style-type: none;
}

.head-wrapper li a {
  text-decoration: none;
  margin: 5px;

  font-weight: 700;
  padding-right: 10px;
  color: white;
  font-family: Playfair Display;

}

.pic {
  background-image: url('/Users/kavitapandey/new-portfolio/src/Asset/images/banner2.jpg');
}

.content h1 {
  font-size: 70px;
  color: #ffffff;
  line-height: 1.1;
  text-align: left;
  font-family: Playfair Display;
  font-weight: 400;
  font-style: normal;
  margin-top: 60px;
}

.booking {
  color: purple;
  font-family: Playfair Display;
  padding: 50px;
  margin-top: 0px;
  background-color: #f3f3f3;
}

.booking h4 {
  text-align: center;
  font-family: inherit;
  font-weight: 200;
  line-height: 1.1;
  font-size: 1.5rem;
  font-family: Playfair Display;
}

.custom-button {
  background-color: #ffc217;
  color: #272426;
  width: 287px;
  height: 40px;
  border: 0cm;
}

.custom-button:hover {
  background-color: #752154;
  color: #ffffff;
}

.footer {
  background-color: #ffc217;
  height: 200px;
  color: #262225;
}

.footer button {
  background-color: #752154;
  width: 221px;
  height: 40px;
  border: 0cm;
  color: #ffffff;
}

.footer2 {
  background-color: #262225;
  width: 100%;
  height: 150px;
  text-align: center;
  color: #717577;
}

.w-100 {
  position: relative;

}

.cal-icon {
  position: absolute;
  right: 0px;
  top: 0px;
}

.cal-icon svg {
  font-size: 25px;
  margin-top: 7px;
  margin-right: 5px;
}


.react-calendar {
  position: absolute;
  bottom: 38px;
}

.react-calendar button {
  border: 0;
  background-color: #ffffff;
}

.img-responsive {
  max-width: 499px;
  max-height: 68px;
  padding-top: 0px;
}

h1 b {
  color: #ffc217;
}


.react-calendar__month-view__weekdays {
  background: #272426;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
  color: #fff;
  font-size: 12px;
  padding: 5px 8px;
}

button.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day:hover {
  background-color: #ffc217;
}

.heading {

  padding: 50px;
  font-size: 32px;
  color: #752154;
  line-height: 1.1;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 400;
  font-style: normal;

}

.head-wrapper a:hover {
  color: #ffc217;
  text-decoration: underline;
  font-weight: 700;

}

.top {
  text-align: center;
  color: #752154;
  background-color: #ffc217;
}

.images {
  text-align: center;
  color: #752154;
}

.form-control {
  border-radius: 0px !important;
}

.message {
  color: #272426;
}

.popup {
  color: red;
}

.imgWrapper {
  border: 5px solid white;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  height: 450px;
  width: 450px;
}

.error-field {
  border: 3px solid red !important;
  border-radius: 3px;
}

.sucess {
  border: 3px solid green !important;
  border-radius: 2px;
}

.circle {
  margin: 0 auto 22px;
  height: 140px;
  width: 140px;
  border-radius: 100%;
  border: 3px solid #efb81f;
  padding:50px;


  color:#272426;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle h1 {
  margin: 50px;

}

.box1 {
  position: fixed;
  width: 100%;
  background-color: hsl(217.5deg 3.64% 56.86%);
  z-index: 11;
  left: 0px;
  top: 0px;
  bottom: 0px;
  height: 100%;
  opacity: 0.6;
}

.box2 {
  position: fixed;
  width: 611px;
  background-color: white;
  z-index: 12;
  left: 50%;
  top: 28%;
  bottom: 0px;
  height: 296px;
  margin-left: -305.5px;
  padding: 10px;

}

.box3 {
  background-color: hsl(352.62deg 67.01% 80.98%);
  height: 100%;
  position: relative;


}

.box3 span {
  font-size: 30px;
  font-weight: 20px;
  position: absolute;
  color: #f3f3f3;
  right: 6px;
  top: -5px;
  cursor:pointer;
}

.content {
  text-align: center;
  color: #fff;
}

.wedding-gift {
  text-align: right;
  width: 60%;
}

.content-left {
  color: #ffffff;
}

.wrapper {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.open {
  opacity: 1;
}

/* CSS for the element you want to show/hide */
.wrapper {
  opacity: 0;
  /* Start with opacity 0 to hide the element */
  transition: opacity 5s ease-in-out;
  /* Add a smooth transition */
}

/* CSS for the element when it's visible */
.wrapper.open {
  opacity: 1;
}

/* CSS animation to gradually fade in */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* CSS animation to gradually fade out */
@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.input-field {
  width: 322px;
  margin-left: 9px;
  border-radius: 23px;
  font-weight: 600px;
  color:#272426;
}
.signup {
  border-radius: 25px;
  background-color: hsl(352.4deg 70.75% 58.43%);
  border-color: none;
  margin-left: 10px;
  width: 118px;
  color: white;

  height: 40px;
  border: 1px solid transparent;
font-weight: 300px;
}
h2{
  font-size: 32px;
  color: #752154;
  line-height: 1.1;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 400;
  font-style: normal;
}
 span{
  color:#272426;
  font-size: larger;
  font-weight: 500;
  font-family: Playfair Display;
}
.content1{
  color:#272426;
  font-family: Playfair Display;
}
 div h2{ 
  
  color:#752154;
  font-size: 20px;
  margin-left: 447px;
  padding: 30px;
}
.picture{
  padding:20px;
  font-family: 'Playfair Display', serif;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 24px;
    color: #272525;
}
div.picture p{
  color: #752154;
}


