body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.head-wrapper{
  background-color:#752154;
}
.head-wrapper li{
  float:left;
  
}
.head-wrapper li a{
  text-decoration: none;
  margin: 5px;
  font-size: 18px;
  border-right: 1px solid white;
  padding-right: 10px;
  color:white;
}
